
body{
    background-image: url("/Buscador/img/fondo.png");
margin: 40px;
}
.text{
    background-color: rgba(240, 248, 238, 0.481);
    border-radius: 20px;
    margin: 20px;
    width: 80%;
    height: 80px;
    text-align: center;
    border-color: rgba(240, 248, 255, 0);
}
.flex{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 20px;
}
.conteiner_father{
    display: inline-block;
    align-items: center;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:impact;
    color: rgba(211, 108, 79, 0.953);
    width: 100px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(240, 248, 238, 0.481);
    border-color: rgba(52, 221, 165, 0.882);
}
button:hover{
    width: 150;
    color: white;
    background-color: rgba(211, 108, 79, 0.953);
}
#tenor{
    margin-right: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:impact;
    text-align: center;
    text-decoration: none;
    color: rgba(211, 108, 79, 0.953);
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(240, 248, 238, 0.481);
    border-color: rgba(52, 221, 165, 0.882);
}
#tenor:hover{
    width: 150;
    color: white;
    background-color: rgba(211, 108, 79, 0.953);
}
img{
    width: 100px;
    height: 100px;
    padding: 4px;
    margin: 4px;
}
#trend{
    height: 400px;
    width: 400px;
}
.trending_conteiner{
    display: flex;
    align-items: left;
    justify-content: left;
    height: 245px;
}
.trending{
    margin: 20px;
    padding: 20px;
    background-color: rgba(196, 194, 194, 0.518);
    border-radius: 20px;
}
.search_cont{
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(198, 78, 78, 0.616);
}


#logo{
    height: 200px;
    width: 200px;
    display: center;

}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
